<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta 
        name="viewport" 
        content="width=device-width, initial-scale=1.0">
    <script 
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js">
    </script>
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
        crossorigin="anonymous">
    <link 
        rel="stylesheet" 
        href="styles.css"/>
    <script 
        src="controller.js">
    </script>
    <title>Phone Book</title>
</head>
<body class="p-3 mb-2 bg-dark">
    <div 
        ng-controller="PhoneBookController as phoneBook" 
        class="jumbotron">
        <h3>Phone Book</h3>
        <input 
            class="form-control" 
            type="text" 
            ng-model="search" 
            placeholder="Search Contact">
        <table class="table table-dark">
            <tr>
                <th></th>
                <th>
                    <a 
                        href="" 
                        ng-click="phoneBook.organize('name')"
                        >Name</a>
                </th>
                <th>Phone</th>
                <th>Operator</th>
                <th><a href="" ng-click="phoneBook.organize('date')">Date</a></th>
            </tr>
            <tr 
                ng-class="{selected : contact.selected}"
                ng-repeat="contact in phoneBook.list | 
                    filter: search | 
                    orderBy: phoneBook.criterionOrganize : phoneBook.directionOrganize">
                <td>
                    <input 
                        ng-model="contact.selected" 
                        type="checkbox">
                </td>
                <td>{{contact.name | uppercase}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.operator}}</td>
                <td>{{contact.date | date : 'dd/MM/yyyy HH:mm'}}</td>
            </tr>
        </table>
        
        <form 
            name="formContact" 
            ng-submit="phoneBook.add()">
            
            <input 
                name="name" 
                ng-required="true" 
                ng-model="phoneBook.name" 
                class="form-control" 
                type="text" 
                placeholder="Enter Name" />
            <input 
                name="phone" 
                ng-required="true" 
                ng-minlength="11" 
                ng-maxlength="11" 
                ng-required="true" 
                ng-model="phoneBook.phone" 
                class="form-control" 
                type="text" 
                placeholder="Enter Phone" />
            <select 
                name="operator" 
                ng-required="true" 
                ng-model="phoneBook.operator" 
                class="form-control">
                <option value="">Select operator</option>
                <option ng-repeat="operator in phoneBook.operators">{{operator}}</option>
            </select>
           
            <div 
                ng-show="formContact.name.$error.required" 
                class="alert alert-danger">
                Enter with name.
            </div>
            
            <div 
                ng-show="formContact.phone.$error.required" 
                class="alert alert-danger">
                Enter with phone.
            </div>

            <div 
                ng-show="formContact.phone.$error.minlength" 
                class="alert alert-danger">
                Phone is required 11 digits.
            </div>
          
            <div 
                ng-show="formContact.operator.$error.required" 
                class="alert alert-danger">
                Enter with operator.
            </div>
      
            <input 
                ng-disabled="formContact.$invalid" 
                type="submit" 
                class="form-control btn btn-primary" 
                value="Add">
            <input 
                type="button" 
                ng-click = "phoneBook.delete()" 
                class="form-control btn btn-danger" 
                value="Delete">
        </form>

    </div>
</body>
</html>